body{
    background-color: rgb(253, 253, 149);
}

p{
    font-family: 'Times New Roman', Times, serif;
}

hr {
    border: 1px solid black;
    margin: 20px 0;
}

.imagenizquierda{
    width: 50%;
    height: 400px;
    align-content: left;
    padding-left: 5px;
}

.textoderecha{
    padding-top: 100px;
    float: right;
    width: 50%;
    text-align: center;
}

.imgredes{
    width: 60px;
}

.textoredes{
    text-align: center;
    font-size: 15pt;
}


.textomenu{
    float: left;
    width: 60%;
    text-align: center;
    height: 1000px;
}

.imgmenu{
    float: right;
    width: 40%;
    height: 1000px;
 
}

.textopedidos{
    float: left;
    width: 60%;
    text-align: center;
    height: 500px;
}

.imgpedidos{
    float: right;
    width: 40%;
    height: 500px;
 
}

.ingresarreseña{
    padding: 5px;
    text-align: right;
}

